.jumbotron{
  padding: 10px 0px;
  max-height: 300px;
}

.jumbotron .container{
  padding: 0;
  margin: 0;
}

.header-logo{
  margin: 0 15px;
}

.header-logo .left-bracket, .header-logo .right-brakcet{
  color: green;
}

.left-bracket,  .right-brakcet,  .bracket-text{
  display: inline-block;
  font-size: 24px;
}

.left-bracket,  .right-brakcet, .left-header-bracket, .right-header-bracket{
  color: #e30022;
}

.default-name-header, .default-title-header{
  margin: auto 0;
  text-align: left;
}

.left-header-bracket, .right-header-bracket, .header-bracket-text{
  font-size: 36px;
}

.navbar-btn *:not(.bracket-text):hover{
  color: green;
}

.content-space{
  margin: 0 auto;
  max-width: 75%;
  max-height: 640px;
  background-color: dodgerblue;
}

.navbar-links, .navbar-links .container{
  margin: 0 auto;
  text-align: center;
}
#apps-link, #projects-link{
  margin: 0 20px;
}
