#navbar-top{
  padding: 0;
  max-height: 100px;
  background-color: #000;
  opacity: 0.8;
}

#navbar-top div.container{
  padding: 0;
  margin: 0 0 0 20px;
  max-height: inherit;
}

.header-logo{
  margin: 0 15px;
}

.header-logo .left-bracket, .header-logo .right-bracket{
  color: #e30022;
}

.left-bracket,  .right-bracket, .left-header-bracket, .right-header-bracket{
  color: #e30022;
}

.default-name-header, .default-title-header{
  margin: auto 0;
  text-align: left;
}

@media (max-width: @screen-xs) {
    body{font-size: 12px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}

@media (max-width: @screen-md) {
    body{font-size: 18px;}
}

.left-bracket,  .right-bracket,  .bracket-text{
  display: inline-block;
  font-size: 1.2em;
}

.left-header-bracket, .right-header-bracket, .header-bracket-text{
  font-size: 1.5em;
}

#content-container{
  position: relative;
  top: 150px;
  margin: 0 auto;
  height: 50%;
  z-index: 0;
}

.content-space{
  margin: 20px 0;
  position: inherit;
  bottom: 80px;
}

#navbar-bottom{
  bottom: 10px;
}
.navbar-btn *:not(.bracket-text):hover{
  color: green;
}

.navbar-links, .navbar-links .container{
  padding-right: 0;
  padding-left: 0;
  /*margin: 0 auto;
  text-align: center;*/
}

#apps-link, #projects-link{
  margin: 0 20px;
}

/* styles for dom objects loaded dynamically */
.container h1, .projects-list{
  text-align: center;
}

.projects-space{
  margin: 0 auto;
}
