
.left-bracket,  .right-brakcet,  .bracket-text{
  display: inline-block;
  font-size: 30px;
}

.jumbotron{
  max-height: 300px;
}

.content-space{
  margin: 0 auto;
  max-width: 75%;
  max-height: 640px;
  background-color: dodgerblue;
}

.container h1{
  margin: 0 auto;
  text-align: center;
}
.projects-space span ul li{
  margin: 0 auto;
  display: inline-block;
}
