/* selects all instances of this tag */
  body{
  margin:0;
  background-color:#000;
  /*background-image: url("file:///home/ubiquitoust/ubiquitous-t.github.io/img/background-1.jpg");*/
  }
  body div{
    border: 0px;
  }
  img{
    width:150px;
    height:150px;
  }
  form{
    max-width:650px;
    margin:40px auto;
  }
  form label{
    display: block;
    padding-top: 20px;
  }
  form legend{
    font-size: 24px;
    font-weight: bolder;
  }
  input{
    padding: 20px;
  }
  input:not([type="radio"]){
    height:45px;
    font-size:30px;
    width:100%;
  }
  input[type="radio"]{
    padding: 18px 18px 18px 18px;
    width: 40px;
  }
  input[type="submit"]{
    padding: 0 0 0 0;
    width: 100px;
    font-size: 20px;
  }
  textarea{
    width: 310px;
    height: 100px;
  }
  /* center an element */
  .center-text{
    text-align:center;
  }
  /* right-align an element */
  .right-text{
    text-align: right;
  }
  .right-text span{
    padding: auto 10px;
    display:inline-block;
    width:40px;
    margin:0px 10px;
    box-sizing: border-box
  }
  /* left-align an element */
  .left-text{
    text-align: left;
  }
  .left-text span{
    padding: auto 10px;
    display:inline-block;
    width:40px;
    margin:0px 10px;
    box-sizing: border-box
  }
  .input-text{
    display:inline-block;
    max-width: 50%;
    padding: 20px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
  }
  .checkbox-group{
    display: inline-block;
    text-align: center;
  }
  .checkbox-group label{
    display: block;
  }
  /* multi-element selector*/
.project-navbar, .project-navbar-container, .project-navbar div{
  height:50px;
}
.project-navbar{
  background-image: url("file:///home/ubiquitoust/ubiquitous-t.github.io/img/background-1.jpg");
  background-color: #000;
  box-shadow:0px 5px 6px grey;
  width:100%;
  position:fixed;
  top:0px;
  /*text-align:center;*/
}
/* descendent selector */
.project-navbar div{
  display:inline-block;
  width:100px;
  margin:0px -2px;
  text-align:left;
  padding-top: 18px;
  box-sizing: border-box;
}
.navbar-image{
  padding: 0 5px;
  display: inline-block;
  width: 100px;
  height: 20px;
}
.logo{
  padding-right:100px;
  margin:auto 10px;
  width:200px;
}
/*pseudo-selector*/
.project-navbar div:hover{
  background-color:darkgrey;
}
.project-navbar div:active{
  background-color:lightgrey;
}
.footer{
  margin: 40px auto;
  height:50px;
  background-color: #000;
  box-shadow:4px 2px 4px grey;
  width:100%;
  bottom:0px;
}
.right-footer-text, .footer-right{
  float: right;
  display:inline-block;
  width: 25%;
  text-align: right;
}

.left-footer-text, .footer-left{
  margin-left: 10px;
  display:inline-block;
  width:40%;
  text-align: left;
}
.right-footer-text span, .footer-left li,.footer-right li{
  padding: auto 10px;
  display:inline-block;
  margin:0px 10px;
  text-align: right;
  box-sizing: border-box
}

.left-footer-text span, .footer-left ul{
  text-align: left;
}

.left-footer-text span, .footer-right ul{
  text-align: right;
}

.logo-container-sm{
  width: 50px;
  height: 50px;
}

.logo-container-md{
  width: 100px;
  height: 100px;
}

.logo-image-sm{
  width:50px;
  height:50px;
  display:block;
}
.logo-image-md{
  width:100px;
  height:100px;
  display:block;
}
.project-image-left{
  width:70%;
  height:250px;
  margin-left: -10px;
  text-align: left;
  display:inline-block;
  }

  .project-image-right{
    width: 30%;
    height:350px;*/
    margin-right: -10px;
    text-align:right;
    display:inline-block;
    }

    .project-image-left img{
      box-shadow:3px 3px 8px white;
      width:100%;
      height:250px;
      margin-left: -10px;
      text-align: left;
      display:inline-block;
      }

      .project-image-right img{
        box-shadow:3px 3px 8px white;
        width: 100%;
        height:350px;
        margin-right: -10px;
        text-align:right;
        display:inline-block;
        }



  .jumbo-image{
    box-shadow:3px 3px 8px green;
    width:600px;
    height:200px;
    /*margin:0 auto;*/
    display:inline-block;
  }
.grid-item { width: 100px; }
.grid-item--width2 { width: 400px; }

#my-jumbo, #header-container {
  padding: 10px;
  width: 100%;
  height: 33%;
  font-size: 30px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  /*background-color: #fff;*/
}
#my-jumbo{
  background-image:url("file:///home/ubiquitoust/ubiquitous-t.github.io/img/background-1.jpg");
}

#my-navbar-brand{
  padding: 0px 15px;
}
.my-copy{
   width: 40%;
   margin: 0 auto;
   text-align: justify;
 }

 .jumbo-header{
   /*margin: 0 auto;*/
   text-align: center;
 }

 .project-header{
   border-radius: 4px;
   color: dodgerblue;
   font-size: 40px;
   box-shadow: 3px 4px 6px black;
 }

 .logo-container{
   width: 80px;
   height: 80px;
   border-radius: 10px;
   color: #ffffff;

   font-size: 30px;
   line-height: 2.5;
 }
 .logo-button{
   border-radius: 40px;
   width: 80px;
   height: 80px;
 }

#my-navbar-bottom{
  background-color: #fff;
}
 .navbar-text, #my-navbar-text{
   color: #fff;
 }

 .left-bracket, .right-brakcet{
   color: green;
 }
