.play:hover, .pause:hover{
  color: darkgrey;
}
.play:click, pause:click{
  color: lightgrey;
}

.pause{
  display: none;
}

.artist-search, .top-tracks{
  width:70%;
  margin:0 auto;
}

.related-artists{
  margin: 10px 0px;
  position: relative;
  bottom: 40px;
}

@media (max-width: 465px) {
  .artist-search, .top-tracks{
    width:80%;
  }
 }
