.play:hover, .pause:hover{
  color: darkgrey;
}
.play:click, pause:click{
  color: lightgrey;
}

.pause{
  display: none;
}

.artist-search, .top-tracks{
  width:70%;
  margin:0 auto;
}

.top-tracks{
  padding-bottom: 40px;
}

.related-artists{
  bottom: 10px;
}

@media (max-width: 465px) {
  .artist-search, .top-tracks{
    width:80%;
  }
 }
