<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Post & Share</title>
    <link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
crossorigin="anonymous">
<link rel="stylesheet" href="css/post-and-share.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="app-container">
      <div class="posts">
      </div>

        <!--<div class="message-container">-->
          <input class="message" type="text" name="name" placeholder="Enter a movie title... ">
        <!--</div>-->
    </div>
    <!--<span class="user-name">Post by <%= userName %> on <%=/*postDate*/ %> <%= /*(timeNow - postDate)/3600 */%> hours ago</span>-->
  <!-- posts template -->
  <script class="posts-template" type="template">
    <span class="post-header">Posted by <%= thisUser %>  on  <span class="post-date"><%= postDate %> @  </span><span class="post-time"> <%= postTime %></span></span>
    <div class="content-container">
      <img class="avatar" src="" alt="avatar goes here"/>
      <p class="content"><%=content %></p>
    </div>
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script
src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
crossorigin="anonymous"></script>
<script src="js/post-and-share.js" type="text/javascript"> </script>
  </body>
</html>
